<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation"><%= link_to "Product", admin_products_path %></li>
      <li role="presentation" class= "active"><%= link_to "Order", admin_orders_path %></li>
    </ul>
    <%= link_to 'Add product', new_admin_product_path, class: "btn btn-primary" %>

    <table class=" table table-striped">
      <thead>
        <tr>
          <th>Order Number</th>
          <th>Price</th>
          <th>Payment status</th>
          <th>Shipping status</th>
          <th>order detail</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
        <td><%= order.sn %></td>
        <td><%= order.amount %></td>
        <td><%= order.payment_status %></td>
        <td><%= order.shipping_status %></td>
        <td><%= link_to "Detail", edit_admin_order_path(order),class:"btn btn-primary" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

      </div>
  </div>
</div>
