<div class="contianer">
  <div class="row">
    <div class="col-offset-2 col-md-10">
    <% @products.each do |product| %>
      <div class="col-sm-4 col-md-3">
      
      <% link_to product_path(product) %>
      <div class = 'myimage'>
      <%= image_tag product.image, class:"myimage img-responsice"%>
      </div>
      <%= product.name %>
  
      <p>$ <%= product.price %></p>
      <h5><%=button_to 'Add to cart', add_product_to_cart_product_path(product), remote: true %></h5>
      </div>
    <% end %>
    <%= paginate @products %>
    </div>

    <%= render partial: "shared/cart" %>

  </div>
</div>