<div class="contianer">
  <div class="row">
    <div class="col-offset-2 col-md-10">
    <% @products.each do |product| %>
      <div class="col-sm-4 col-md-3">
      
      <% link_to product_path(product) %>
      <div class = 'myimage'>
      <%= image_tag product.image, class:"myimage img-responsice"%>
      </div>
      <%= product.name %>
  
      <p>$ <%= product.price %></p>
      <h5><%=button_to 'Add to cart', add_product_to_cart_product_path(product) %></h5>
      </div>
    <% end %>
    <%= paginate @products %>
    </div>

    <section id = "my-cart">
    <h1>Cart</h1>
    <hr>
    <% current_cart.cart_items.each do |item| %>
    <%= render partial:"shared/item", locals:{item: item} %>
    <% end %>
    <hr>
    <div class="subtotal">
      <p>SUBTOTAL</p>
      <p class="amount">$ <%=current_cart.subtotal %></p>
    </div>    
  </section>

  </div>
</div>